.chatbox {
  height: 100vh;
  padding: 0px;

  .chat-area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 93vh;
    border-bottom: 5px solid #bbb;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    background: white;
    overflow: auto;
  }

  .chat-input {
    align-items: flex-start;
    height: 5vh;
    padding: 0 10px;

    input[type='text'], .btn.btn-danger {
      border-radius: 0px;
    }
  }
}
