.sidebar {
  padding: 0px;
  height: 100vh;
  border-right: 3px solid #cad9eb;
  background-color: #4278B8;
  text-align: left;

  .sidebar-contents {
    color: white;
    padding: 0px;
    height: 93vh;

    .edit-profile-link {
      text-decoration: none;
      color: white;
    }

    .navbar-toggler {
      color: white;
      width: 100%;
      padding: 20px 15px;
    }

    .sidebar-header {
      padding: 20px;
    }

    .sub-menu {
      .list-group-item {
        padding-left: 40px;
      }
    }

    .list-group-item {
      border-radius: 0px;
      text-decoration: none;
      color: white;
      background-color: #4278B8;
      border: 0px;

      &:not(.highlightable) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &.highlightable:hover, &.active {
        color: #4278B8;
        background-color: white;
      }

      .badge {
        background: #b84c42;
      }
    }
  }

  hr {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin-top: 0px;
  }

  .sign-out {
    height: 5vh;
    background-color: #4278B8;

    a {
      padding: 0.75rem 1.25rem;
      text-decoration: none;
      color: white;

      &:hover {
        color: white;
        background-color: #721c24;
      }
    }
  }
}
